
# C++ objects and libs

*.slo

*.lo

*.o

*.a

*.la

*.lai

*.so

*.so.1

*.so.1.0

*.so.1.0.0

*.dll

*.dylib

*.log

# Qt-es

object_script.*.Release

object_script.*.Debug

*_plugin_import.cpp

/.qmake.cache

/.qmake.stash

*.pro.user

*.pro.user.*

*.qbs.user

*.qbs.user.*

*.moc

moc_*.cpp

moc_*.h

qrc_*.cpp

ui_*.h

*.qmlc

*.jsc

Makefile*

*build-*

*.qmake.stash

# Qt unit tests

*.gcda

*.gcno

*.info

*.out

test/deepin_reader_test/coverage

deepin-reader

# QtCreator

*.autosave

# QtCreator Qml

*.qmlproject.user

*.qmlproject.user.*

*.qm

# QtCreator CMake

CMakeLists.txt.user*



# QtCreator 4.8< compilation database 

compile_commands.json



# QtCreator local machine specific files for imported projects

*creator.user*

# 3rdparty
3rdparty/deepin-pdfium/lib

3rdparty/deepdf
