[Desktop Entry]
Categories=Office;Viewer;
Exec=deepin-reader %f
StartupNotify=true
TryExec=deepin-reader
Type=Application
Icon=deepin-reader
MimeType=application/pdf;
X-Deepin-Vendor=user-custom
GenericName=Reader
GenericName[ar]=مُنصب الخطوط
GenericName[ast]=Instalador de fontes
GenericName[bg]=Инсталатор на шрифт
GenericName[bn]=ফন্ট ইনস্টলার
GenericName[ca]=Instal·lador de tipus de lletres
GenericName[cs]=Instalátor písem
GenericName[da]=Skrifttypeinstallation
GenericName[de]=Schriftarten-Manager
GenericName[el]=Εγκαταστάτης Γραμματοσειράς
GenericName[es]=Instalador de fuentes
GenericName[es_419]=Instalador de fuentes
GenericName[fi]=Fonttien asentaja
GenericName[fr]=Installateur de polices
GenericName[hr]=Instaler fontova
GenericName[hu]=Betűkészlet telepítő
GenericName[id]=Penginstal Font
GenericName[it]=Font Installer
GenericName[ja]=フォントインストーラー
GenericName[ko]=글체 설치자
GenericName[lt]=Šriftų diegimo programa
GenericName[mn]=Фонт суулгагч
GenericName[ms]=Pemasang Fon
GenericName[ne]=फन्ट स्थापनाकर्ता
GenericName[nl]=Lettertype-installatie
GenericName[pl]=Instalator czcionek
GenericName[pt]=Instalador de Fontes
GenericName[pt_BR]=Instalador de Fontes
GenericName[ro]=Instalator font
GenericName[ru]=Установщик Шрифтов
GenericName[sk]=Inštalátor písem
GenericName[sq]=Instalues Shkronjash
GenericName[sr]=Инсталатер Фонта
GenericName[tr]=Yazı Tipi Kurucu
GenericName[uk]=Встановлення шрифтів
GenericName[zh_CN]=文档查看器
GenericName[zh_TW]=文檔查看器

Name=Deepin Reader
Name[ar]=مُنصب الخطوط Deepin
Name[ast]=Deepin Font Installer
Name[bg]=Deepin инсталатор на шрифт
Name[bn]=ডিপিন ফন্ট ইনস্টলার
Name[ca]=Instal·lador de lletres del Deepin
Name[cs]=Instalátor písem
Name[da]=Deepin skrifttypeinstallation
Name[de]=Deepin Schriftarten-Manager
Name[el]=Εγκαταστάτης Γραμματοσειράς Deepin
Name[es]=Instalador de fuentes Deepin
Name[es_419]=Instalador de fuentes Deepin
Name[fi]=Deepin fonttien asennus
Name[fr]=Installateur de polices Deepin
Name[hr]=Deepin instaler fontova
Name[hu]=Deepin betűkészlet telepítő
Name[id]=Penginstal Reader Deepin
Name[it]=Deepin Font Installer
Name[ja]=Deepin フォントインストーラー
Name[ko]=Deepin 글체 설치자
Name[lt]=Deepin šriftų diegimo programa
Name[mn]=Дээпин фонт суулгагч
Name[ms]=Pemasang Fon Deepin
Name[ne]=डिपिन फन्ट स्थापनाकर्ता
Name[nl]=Deepin Lettertype-installatie
Name[pl]=Instalator czcionek Deepin
Name[pt]=Deepin Font Manager
Name[pt_BR]=Deepin Instalador de Fontes
Name[ro]=Instalator Deepin Font
Name[ru]=Установщик Шрифтов Deepin
Name[sk]=Deepin Inštalátor písem
Name[sq]=Instalues Shkronjash Deepin
Name[sr]=Дипин Инсталатер Фонта
Name[tr]=Deepin Yazı Tipi Kurucu
Name[uk]=Встановлення шрифтів Deepin
Name[zh_CN]=文档查看器
Name[zh_TW]=Deepin 文檔查看器

