Source: deepin-reader
Section: graphics
Priority: optional
Maintainer: deepin <packages@deepin.com>
Build-Depends: debhelper (>= 11), pkg-config, libspectre-dev, libdjvulibre-dev, qtbase5-dev, qtchooser, qttools5-dev-tools, libx11-dev, libpoppler-qt5-dev,libpoppler-qt5-1, libtiff-dev, libkf5archive-dev, libdtkwidget-dev, uuid-dev
Standards-Version: 4.5.0

Package: deepin-reader
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a tool for reading document files.
 Document Viewer is a simple PDF reader, supporting bookmarks, highlights and annotations.
