[Desktop Entry]
Categories=Office;
Exec=deepin-reader %F
GenericName=Document Viewer
Icon=deepin-reader
MimeType=application/pdf;
Name=Document Viewer
StartupNotify=true
TryExec=deepin-reader
Type=Application
X-Deepin-Vendor=user-custom
