[Desktop Entry]
Categories=Office;
Exec=deepin-reader %F
GenericName=Document Viewer
Icon=deepin-reader
MimeType=application/pdf;
Name=Document Viewer
StartupNotify=true
TryExec=deepin-reader
Type=Application
X-Deepin-Vendor=user-custom

# Translations:
# Do not manually modify!
GenericName[ar]=عارض المستندات
GenericName[ca]=Visualitzador de documents
GenericName[cs]=Prohlížeč dokumentů
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbetrachter
GenericName[es]=Visor de documentos
GenericName[fi]=Asiakirjat
GenericName[fr]=Visionneuse de Documents
GenericName[gl_ES]=Visor de documentos
GenericName[hr]=Preglednik dokumenata
GenericName[hu]=Dokumentum megjelenítő
GenericName[it]=Lettore documenti
GenericName[ko]=문서 보기도구
GenericName[lt]=Dokumentų žiūryklė
GenericName[ms]=Pelihat Dokumen
GenericName[nl]=Documentweergave
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de Documentos
GenericName[ru]=Просмотрщик документов
GenericName[sq]=Parës Dokumentesh
GenericName[sr]=Прегледач Докумената
GenericName[tr]=Belge Görüntüleyici
GenericName[ug]=ھۆججەت كۆرگۈچ
GenericName[uk]=Переглядач документів
GenericName[zh_CN]=文档查看器
GenericName[zh_HK]=文檔查看器
GenericName[zh_TW]=文件查看器
Name[ar]=عارض المستندات
Name[ca]=Visualitzador de documents
Name[cs]=Prohlížeč dokumentů
Name[da]=Dokumentfremviser
Name[de]=Deepin Dokumentbetrachter
Name[es]=Visor de documentos
Name[fi]=Asiakirjat
Name[fr]=Visionneuse de Documents
Name[gl_ES]=Visor de documentos
Name[hr]=Preglednik dokumenata
Name[hu]=Deepin Dokumentum megjelenítő
Name[it]=Lettore documenti
Name[ko]=문서 보기도구
Name[lt]=Dokumentų žiūryklė
Name[ms]=Pelihat Dokumen
Name[nl]=Documentweergave
Name[pl]=Przeglądarka dokumentów
Name[pt]=Visualizador de Documentos
Name[pt_BR]=Visualizador de Documentos
Name[ru]=Просмотрщик Документов Deepin 
Name[sq]=Parës Dokumentesh
Name[sr]=Прегледач Докумената
Name[tr]=Belge Görüntüleyici
Name[ug]=ھۆججەت كۆرگۈچ
Name[uk]=Переглядач документів
Name[zh_CN]=文档查看器
Name[zh_HK]=文檔查看器
Name[zh_TW]=文件查看器

