[Desktop Entry]
Categories=Office;
Exec=deepin-reader %F
GenericName=Document Viewer
GenericName[zh_CN]=文档查看器
GenericName[zh_TW]=文檔查看器
Icon=deepin-reader
MimeType=application/pdf;
Name=Document Viewer
Name[zh_CN]=文档查看器
Name[zh_TW]=Deepin 文檔查看器
StartupNotify=true
TryExec=deepin-reader
Type=Application
X-Deepin-Vendor=user-custom
